<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.effectsar.labcv.sports">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".SportsHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SportsPresetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".SportsActivity" />
        <activity android:name=".SportsResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>
</manifest>